<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>MyProject</title>
<link rel="stylesheet" type="text/css" charset="utf-8"
      href="/stylesheets/master.css" media="screen" /> 
</head>
<body>

<!-- コンテナ -->
<div id="container">

<!-- コンテナ・インナー -->
<div id="container-inner">

<!-- ヘッダー -->
<div id="header">
<h1>MyProject</h1>
<p>小さなプロジェクトから始めよう</p>
</div>

<!-- メイン -->
<div id="main">

<!-- コンテンツ -->
<div id="content">

<h2>ストリート</h2>

<p>MyProjectはあなたがプロジェクトを始めるお手伝いをする為のサービスです。あなた一人でプロジェクトをはじめてもいいですし、既にあるプロジェクトに参加するのもいいでしょう。まずは始めてみましょう！</p>

<h3>情報サイト「Green Leaf」</h3>

<p>情報サイト「Green Leaf」では、「生活を楽しくするサービスをもっと身近に」をテーマに、日常生活で役に立つサービスの情報をお届けします。生活を楽しくするためには、「衣」「食」「住」を満たすことが大切です。そのために必要な情報を充実させました。最新のファッション事情から洋服のリサイクル情報、安全でおいしい食材にレシピ、それを味わえるレストラン、住まいを快適にアレンジするテクニック、職人に支えられた伝統の技などなど… 楽しみながら活用していただければと思います。</p>

<p>また、「遊」を充実させる情報として、関東、関西圏を中心としたレジャーや癒しのスポットを紹介します。名所・旧跡に温泉、日帰り旅行からちょっとした贅沢な旅まで取り揃えていく予定です。</p>


<h3>ショッピングサイト「Green Shop」</h3>

<p>ショッピングサイト「Green Shop」では、情報サイト「Green Leaf」で紹介した "いいもの" や "おもしろいもの" を購入していただけるようにしています。</p>

<p>そのほかにも、ショップ内のToy Boxコーナーではヨーロッパやアフリカの遊び心にあふれる玩具を、Candy Boxコーナーではカラフルでおいしいお菓子をたくさん扱っています。また、地域ごとの地場産野菜の宅配も承っておりますので、ぜひご利用ください。</p>

</div>



<!-- サイドバー -->
<div id="sidebar">

<ul class="sidemenu">
<li>
<p>こんにちわ</p>
</li>

<li>
<p>こんにちわ</p>
<div style="both:clear"></div>
</li>

<li>
<p>こんにちわ</p>
</li>

<li>
<p>こんにちわ</p>
</li>

</ul>


<p class="feed">
<a href="feed.xml">
<img src="feed-icon-14x14.png" alt="RSS" />
RSSフィード
</a>
</p>

</div>

</div>


<!-- 右サイドバー -->
<div id="sidebar-right">

<div class="info">
<h2>お知らせ</h2>
<p class="photo"><img src="banner200.jpg" alt="Natural" /></p>
<p>ショッピングサイトでは「自然」をテーマにしたキャンペーンを開催中です。</p>
</div>

<div class="info">
<h2>おすすめコンテンツ</h2>
<ul>
<li><a href="link.html">海の生物／陸の生物</a></li>
<li><a href="link.html">おいしいものを食べに行こう</a></li>
<li><a href="link.html">カフェ巡りの旅</a></li>
<li><a href="link.html">開発現場レポート - 現場シリーズレポート編</a></li>
<li><a href="link.html">高効率な伝送システム - 地上編</a></li>
<li><a href="link.html">高効率な伝送システム - 海底編</a></li>
<li><a href="link.html">世界のオンラインショップ</a></li>
<li><a href="link.html">世界のTV番組</a></li>
<li><a href="link.html">地域別・詳細天気予報</a></li>
<li><a href="link.html">CMライブラリー</a></li>
</ul>
</div>

</div>



<!-- フッター -->
<div id="footer">
<address>Copyright (C) Green Leaf, All rights reserved.</address>
</div>

</div>

</div>

</body>
</html>
