  <h2>ストリート</h2>

  <div class="right-menu white-menu">
    <%= link_to '新規プロジェクト作成', new_project_path %>
  </div>

  <p class="information">MyProjectはあなたがプロジェクトを始めるお手伝いをする為のサービスです。あなた一人でプロジェクトをはじめてもいいですし、既にあるプロジェクトに参加するのもいいでしょう。まずは始めてみましょう！</p>

<% @projects.each do |project| -%>
  <%= render "project", :project => project %>
<% end -%>


