  <h2>ストリート</h2>
  <p class="information">MyProjectはあなたがプロジェクトを始めるお手伝いをする為のサービスです。あなた一人でプロジェクトをはじめてもいいですし、既にあるプロジェクトに参加するのもいいでしょう。まずは始めてみましょう！</p>

<% @projects.each do |project| -%>
  <%= render "project", :project => project %>
<% end -%>


