<h2>新規ステップの登録</h2>

<b>親プロジェクト</b>
<%= link_to @step.project.name, {:controller => :projects, 
                                 :action => :show,
                                 :id => @step.project.id} %>

<%= render 'form' %>

<%= link_to 'Back', steps_path %>
