
<!-- 右サイドバー -->
<div id="sidebar-right">

<div class="info">
<h2>お知らせ</h2>
<p class="photo"><img src="banner200.jpg" alt="Natural" /></p>
<p>ショッピングサイトでは「自然」をテーマにしたキャンペーンを開催中です。</p>
</div>

<div class="info">
<h2>おすすめコンテンツ</h2>
<ul>
<li><a href="link.html">海の生物／陸の生物</a></li>
<li><a href="link.html">おいしいものを食べに行こう</a></li>
<li><a href="link.html">カフェ巡りの旅</a></li>
<li><a href="link.html">開発現場レポート - 現場シリーズレポート編</a></li>
<li><a href="link.html">高効率な伝送システム - 地上編</a></li>
<li><a href="link.html">高効率な伝送システム - 海底編</a></li>
<li><a href="link.html">世界のオンラインショップ</a></li>
<li><a href="link.html">世界のTV番組</a></li>
<li><a href="link.html">地域別・詳細天気予報</a></li>
<li><a href="link.html">CMライブラリー</a></li>
</ul>
</div>

</div>
